# Annotator Agreement

In [91]:
import pandas as pd

anno_file = '../data/review_classification_annotations.tsv.gz'
annos = pd.read_csv(anno_file, sep='\t', compression='gzip')

## Agreement




| A | Yes |	No |
| Yes | a | b |
| No | c | d |

Observed agreement:

![](https://wikimedia.org/api/rest_v1/media/math/render/svg/1757fb7677fea46fca2bf2d0924f91219dfe563a)

Chance of both saying yes:

![](https://wikimedia.org/api/rest_v1/media/math/render/svg/14d9bf3d72f58a76d78189d508fd80ac83e5f94e)

Chance of both saying No:

![](https://wikimedia.org/api/rest_v1/media/math/render/svg/d8fb5669567629ba2010e67b2a16bb1873cf91e4)

Chance of random agreement:

$p_e = p_Y + p_N$

Kappa:

![](https://wikimedia.org/api/rest_v1/media/math/render/svg/1a7a8f738ea187a60443bac93cd53b4d9d6b2231)

In [92]:
annos[['review_id', 'sent_num', 'annotator', 'CAT__Content']].sort_values(['review_id', 'sent_num'])

                 review_id  sent_num annotator  CAT__Content
0      impfic-review-10274         1     anno1           0.0
1      impfic-review-10274         1     anno2           0.0
2      impfic-review-10274         1     anno3           0.0
3      impfic-review-10274         2     anno1           1.0
4      impfic-review-10274         2     anno2           1.0
...                    ...       ...       ...           ...
34897  impfic-review-84086         7     anno2           0.0
34898  impfic-review-84086         7     anno3           0.0
34899  impfic-review-84086         8     anno1           0.0
34900  impfic-review-84086         8     anno2           0.0
34901  impfic-review-84086         8     anno3           0.0

[34902 rows x 4 columns]

### Frequency of occurrence of categories

In [93]:
annos.columns

Index(['review_id', 'sent_id', 'sent_offset', 'sent_end', 'sent_text',
       'annotator', 'sent_num', 'CAT__Author', 'CAT__Content',
       'CAT__Recommendations', 'CAT__Other_works', 'CAT__Classification',
       'CAT__Reader_response', 'CAT__Style', 'CAT__Content--Narrative',
       'CAT__Content--Other', 'CAT__Content--Quote', 'CAT__Content--Theme',
       'CAT__Reader_response--Evaluation_of_quality',
       'CAT__Reader_response--Feelings',
       'CAT__Reader_response--Identification_and_immersion',
       'CAT__Reader_response--Reading_Context',
       'CAT__Reader_response--Reception', 'CAT__Reader_response--Reflection',
       'CAT__Style--Context', 'CAT__Style--Structure',
       'CAT__Style--Stylistic_features', 'CAT__None', 'num_cats'],
      dtype='object')

In [94]:
maincat_fields = [col for col in annos.columns if col.startswith('CAT__') and '--' not in col]
subcat_fields = [col for col in annos.columns if col.startswith('CAT__') and '--' in col]
allcat_fields = maincat_fields + subcat_fields

In [95]:
from mapping import map_cat_string, cat_tuples

In [96]:
annotators = list(annos.annotator.unique())

occur_freq = annos.groupby('annotator')[allcat_fields].sum().T

occur_freq = occur_freq.reset_index().rename(columns={'index': 'category'})

# separate main category and sub-category
occur_freq['main_cat'], occur_freq['sub_cat'] = zip(*occur_freq.category.apply(map_cat_string))

# remove invalid main and sub category combinations
occur_freq = occur_freq[occur_freq.apply(lambda row: (row['main_cat'], row['sub_cat']) in cat_tuples, axis=1)]


occur_freq[occur_freq.sub_cat.isna()][['main_cat'] + annotators]

annotator         main_cat   anno1   anno2   anno3
0                   Author  1299.0   964.0  1462.0
1                  Content  6067.0  5793.0  6714.0
2          Recommendations   298.0   274.0   164.0
3              Other_works   697.0   564.0   538.0
4           Classification   440.0   324.0   444.0
5          Reader_response  5757.0  5673.0  5545.0
6                    Style  1255.0   746.0  1619.0

In [97]:
occur_freq[occur_freq.sub_cat.notna()][['main_cat', 'sub_cat'] + annotators]

annotator,main_cat,sub_cat,anno1,anno2,anno3
8,Content,Narrative,5255.0,4707.0,6042.0
9,Content,Other,285.0,427.0,223.0
10,Content,Quote,328.0,334.0,351.0
11,Content,Theme,234.0,381.0,131.0
12,Reader_response,Evaluation_of_quality,2976.0,2819.0,3850.0
13,Reader_response,Feelings,1162.0,1374.0,463.0
14,Reader_response,Identification_and_immersion,379.0,427.0,303.0
15,Reader_response,Reading_Context,897.0,618.0,542.0
16,Reader_response,Reception,95.0,80.0,90.0
17,Reader_response,Reflection,1185.0,1214.0,1265.0
18,Style,Context,85.0,68.0,55.0
19,Style,Structure,215.0,60.0,44.0
20,Style,Stylistic_features,993.0,631.0,1528.0

### Computing Cohen's Kappa

In [98]:
s = annos[['review_id', 'sent_num', 'annotator']].value_counts()
s[s > 1]
annos.groupby(['review_id', 'sent_num', 'annotator']).max().reset_index()

,review_id,sent_num,annotator,sent_id,sent_offset,sent_end,sent_text,CAT__Author,CAT__Content,CAT__Recommendations,...,CAT__Reader_response--Feelings,CAT__Reader_response--Identification_and_immersion,CAT__Reader_response--Reading_Context,CAT__Reader_response--Reception,CAT__Reader_response--Reflection,CAT__Style--Context,CAT__Style--Structure,CAT__Style--Stylistic_features,CAT__None,num_cats
0,impfic-review-10274,1,anno1,impfic-review-10274-sent-001,0,78,Jan van Mersbergen (1971) publiceerde sinds 20...,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,impfic-review-10274,1,anno2,impfic-review-10274-sent-001,0,78,Jan van Mersbergen (1971) publiceerde sinds 20...,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0
2,impfic-review-10274,1,anno3,impfic-review-10274-sent-001,0,78,Jan van Mersbergen (1971) publiceerde sinds 20...,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,impfic-review-10274,2,anno1,impfic-review-10274-sent-002,79,218,op 11 november 2011 verscheen 'Naar de overkan...,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,impfic-review-10274,2,anno2,impfic-review-10274-sent-002,79,218,op 11 november 2011 verscheen 'Naar de overkan...,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34897,impfic-review-84086,7,anno2,impfic-review-84086-sent-007,545,572,Ik ga nu verder met deel 2!,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
34898,impfic-review-84086,7,anno3,impfic-review-84086-sent-007,545,572,Ik ga nu verder met deel 2!,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
34899,impfic-review-84086,8,anno1,impfic-review-84086-sent-008,573,622,Lees meer op http://readingjournal.princesssam.nl,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34900,impfic-review-84086,8,anno2,impfic-review-84086-sent-008,573,622,Lees meer op http://readingjournal.princesssam.nl,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34901,impfic-review-84086,8,anno3,impfic-review-84086-sent-008,573,622,Lees meer op http://readingjournal.princesssam.nl,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
from itertools import combinations

import numpy as np


cat_cols = [col for col in annos.columns if col.startswith('CAT__')]

cat = 'CAT__Author--None'


rows = []
for cat in cat_cols:
    cross_tabs = []
    cat_annotator = annos.pivot(index=('review_id', 'sent_num'), columns='annotator', values=cat)
    for anno1, anno2 in combinations(annotators, 2):
        cross = pd.crosstab(index=cat_annotator[anno1], columns=cat_annotator[anno2])
        cross_tabs.append(cross)
    cross_tabs = merge_cross_tabs(cross_tabs)

cat_annotator

#pd.concat({'Foo': cross_list[0]}, names=['Firstlevel'])
cross_list[0]

anno2      0    1
anno1
0      11114  103
1        461  535

In [100]:
def merge_cross_tabs(cross_tabs):
    cross_merge = {0: {0: 0, 1: 0}, 1: {0: 0, 1: 0}}
    for ct in cross_tabs:
        ct_dict = ct.to_dict()
        for row in ct_dict:
            for col in ct_dict[row]:
                cross_merge[row][col] += ct_dict[row][col]
    return pd.DataFrame(cross_merge)

merge_cross_tabs(cross_list)

       0     1
0  32180  1829
1    671  1959

## Agreement across all reviewers

In [101]:
cat_cols

['CAT__Author',
 'CAT__Content',
 'CAT__Recommendations',
 'CAT__Other_works',
 'CAT__Classification',
 'CAT__Reader_response',
 'CAT__Style',
 'CAT__Content--Narrative',
 'CAT__Content--Other',
 'CAT__Content--Quote',
 'CAT__Content--Theme',
 'CAT__Reader_response--Evaluation_of_quality',
 'CAT__Reader_response--Feelings',
 'CAT__Reader_response--Identification_and_immersion',
 'CAT__Reader_response--Reading_Context',
 'CAT__Reader_response--Reception',
 'CAT__Reader_response--Reflection',
 'CAT__Style--Context',
 'CAT__Style--Structure',
 'CAT__Style--Stylistic_features',
 'CAT__None']

In [102]:
annos

,review_id,sent_id,sent_offset,sent_end,sent_text,annotator,sent_num,CAT__Author,CAT__Content,CAT__Recommendations,...,CAT__Reader_response--Feelings,CAT__Reader_response--Identification_and_immersion,CAT__Reader_response--Reading_Context,CAT__Reader_response--Reception,CAT__Reader_response--Reflection,CAT__Style--Context,CAT__Style--Structure,CAT__Style--Stylistic_features,CAT__None,num_cats
0,impfic-review-10274,impfic-review-10274-sent-001,0,78,Jan van Mersbergen (1971) publiceerde sinds 20...,anno1,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,impfic-review-10274,impfic-review-10274-sent-001,0,78,Jan van Mersbergen (1971) publiceerde sinds 20...,anno2,1,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0
2,impfic-review-10274,impfic-review-10274-sent-001,0,78,Jan van Mersbergen (1971) publiceerde sinds 20...,anno3,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,impfic-review-10274,impfic-review-10274-sent-002,79,218,op 11 november 2011 verscheen 'Naar de overkan...,anno1,2,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,impfic-review-10274,impfic-review-10274-sent-002,79,218,op 11 november 2011 verscheen 'Naar de overkan...,anno2,2,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34897,impfic-review-84086,impfic-review-84086-sent-007,545,572,Ik ga nu verder met deel 2!,anno2,7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
34898,impfic-review-84086,impfic-review-84086-sent-007,545,572,Ik ga nu verder met deel 2!,anno3,7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
34899,impfic-review-84086,impfic-review-84086-sent-008,573,622,Lees meer op http://readingjournal.princesssam.nl,anno1,8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34900,impfic-review-84086,impfic-review-84086-sent-008,573,622,Lees meer op http://readingjournal.princesssam.nl,anno2,8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34901,impfic-review-84086,impfic-review-84086-sent-008,573,622,Lees meer op http://readingjournal.princesssam.nl,anno3,8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
from itertools import combinations

import numpy as np


cat_cols = [col for col in annos.columns if col.startswith('CAT__')]

cat = 'CAT__Author--None'


rows = []
for cat in cat_cols:
    cat_annotator = annos.pivot(index=('review_id', 'sent_num'), columns='annotator', values=cat)
    cross_tabs = []
    for anno1, anno2 in combinations(annotators, 2):
        cross = pd.crosstab(index=cat_annotator[anno1], columns=cat_annotator[anno2])
        if 1 not in cross.columns:
            cross[1] = 0
            #cross.loc[1] = [0, 0]
        if 1 not in cross.index:
            cross.loc[1] = [0, 0]
        cross_tabs.append(cross)
    cross = merge_cross_tabs(cross_tabs)
    
    a = cross.loc[0][0]
    b = cross.loc[0][1]
    c = cross.loc[1][0]
    d = cross.loc[1][1]
    p_o = (a + d) / (a + b + c + d)
    p_Y = ((a + b) / (a + b + c + d)) * ((a + c) / (a + b + c + d))
    p_N = ((c + d) / (a + b + c + d)) * ((b + d) / (a + b + c + d))
    p_e = p_Y + p_N
    if p_e == 1.0:
        kappa = np.nan
    else:
        kappa = (p_o - p_e) / (1 - p_e)
    rows.append([cat, anno1, anno2, a, b, c, d, kappa, p_o, p_e, p_Y, p_N])

agreement = pd.DataFrame(rows, columns=['cat', 'anno1', 'anno2', 'a', 'b', 'c', 'd', 'kappa', 'p_o', 'p_e', 'p_Y', 'p_N'])
agreement

,cat,anno1,anno2,a,b,c,d,kappa,p_o,p_e,p_Y,p_N
0,CAT__Author,anno2,anno3,30364,976,650,2912,0.755724,0.953412,0.809283,0.797914,1.136893e-02
1,CAT__Content,anno2,anno3,13737,3238,1944,15983,0.702230,0.851527,0.501383,0.218516,2.828674e-01
2,CAT__Recommendations,anno2,anno3,33973,59,327,543,0.732314,0.988940,0.958685,0.958255,4.299472e-04
3,CAT__Other_works,anno2,anno3,32430,514,832,1126,0.605740,0.961435,0.902183,0.899547,2.636064e-03
4,CAT__Classification,anno2,anno3,33239,459,451,753,0.609841,0.973927,0.933173,0.931976,1.197922e-03
5,CAT__Reader_response,anno2,anno3,15530,2185,2609,14578,0.725124,0.862644,0.500298,0.263787,2.365109e-01
6,CAT__Style,anno2,anno3,29934,1712,984,2272,0.585018,0.922755,0.813860,0.803211,1.064886e-02
7,CAT__Content--Narrative,anno2,anno3,16171,3514,1940,13277,0.685947,0.843734,0.502421,0.292669,2.097515e-01
8,CAT__Content--Other,anno2,anno3,33557,348,472,525,0.549481,0.976506,0.947850,0.947136,7.145108e-04
9,CAT__Content--Quote,anno2,anno3,33770,142,96,894,0.879018,0.993181,0.943636,0.942794,8.419655e-04
10,CAT__Content--Theme,anno2,anno3,33712,341,547,302,0.392080,0.974557,0.958148,0.957700,4.481445e-04
11,CAT__Reader_response--Evaluation_of_quality,anno2,anno3,22758,3373,1625,7146,0.643078,0.856799,0.598789,0.523049,7.573959e-02
12,CAT__Reader_response--Feelings,anno2,anno3,29888,1316,2714,984,0.268684,0.884534,0.842112,0.835130,6.982229e-03
13,CAT__Reader_response--Identification_and_immer...,anno2,anno3,33284,433,585,600,0.526039,0.970833,0.938460,0.937456,1.004889e-03
14,CAT__Reader_response--Reading_Context,anno2,anno3,31995,495,1205,1207,0.561715,0.951292,0.888867,0.885497,3.370049e-03
15,CAT__Reader_response--Reception,anno2,anno3,34547,85,95,175,0.657780,0.994843,0.984930,0.984872,5.762839e-05
16,CAT__Reader_response--Reflection,anno2,anno3,29335,1983,1823,1761,0.419735,0.890952,0.812072,0.801056,1.101547e-02
17,CAT__Style--Context,anno2,anno3,34503,161,221,17,0.076341,0.989055,0.988150,0.988116,3.477734e-05
18,CAT__Style--Structure,anno2,anno3,34370,42,384,106,0.327911,0.987794,0.981839,0.981780,5.953292e-05
19,CAT__Style--Stylistic_features,anno2,anno3,30548,1737,667,1950,0.581992,0.931121,0.835222,0.827301,7.920931e-03
20,CAT__None,anno2,anno3,34844,4,54,0,-0.000213,0.998338,0.998339,0.998338,1.773181e-07

In [104]:
import re

temp_df = agreement[['cat', 'kappa']]
temp_df['Category'] = temp_df.cat.apply(lambda x: x.replace('CAT__', '').replace('_', ' '))
temp_df = temp_df.sort_values('Category')
temp_df['Category'] = temp_df.Category.apply(lambda x: re.sub(r'.*--', '~~~~', x))
temp_df

/var/folders/xk/pp9n20396sqccydf42gn2rmr0000gn/T/ipykernel_14169/4170881128.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Category'] = temp_df.cat.apply(lambda x: x.replace('CAT__', '').replace('_', ' '))

,cat,kappa,Category
0,CAT__Author,0.755724,Author
4,CAT__Classification,0.609841,Classification
1,CAT__Content,0.702230,Content
7,CAT__Content--Narrative,0.685947,~~~~Narrative
8,CAT__Content--Other,0.549481,~~~~Other
9,CAT__Content--Quote,0.879018,~~~~Quote
10,CAT__Content--Theme,0.392080,~~~~Theme
20,CAT__None,-0.000213,None
3,CAT__Other_works,0.605740,Other works
5,CAT__Reader_response,0.725124,Reader response
11,CAT__Reader_response--Evaluation_of_quality,0.643078,~~~~Evaluation of quality
12,CAT__Reader_response--Feelings,0.268684,~~~~Feelings
13,CAT__Reader_response--Identification_and_immer...,0.526039,~~~~Identification and immersion
14,CAT__Reader_response--Reading_Context,0.561715,~~~~Reading Context
15,CAT__Reader_response--Reception,0.657780,~~~~Reception
16,CAT__Reader_response--Reflection,0.419735,~~~~Reflection
2,CAT__Recommendations,0.732314,Recommendations
6,CAT__Style,0.585018,Style
17,CAT__Style--Context,0.076341,~~~~Context
18,CAT__Style--Structure,0.327911,~~~~Structure
19,CAT__Style--Stylistic_features,0.581992,~~~~Stylistic features

In [105]:
table = temp_df[['Category', 'kappa']].to_latex(index=False,
                  #formatters={"name": str.upper},
                  float_format="{:.2f}".format,
)
print(table)

\begin{tabular}{lr}
\toprule
Category & kappa \\
\midrule
Author & 0.76 \\
Classification & 0.61 \\
Content & 0.70 \\
~~~~Narrative & 0.69 \\
~~~~Other & 0.55 \\
~~~~Quote & 0.88 \\
~~~~Theme & 0.39 \\
None & -0.00 \\
Other works & 0.61 \\
Reader response & 0.73 \\
~~~~Evaluation of quality & 0.64 \\
~~~~Feelings & 0.27 \\
~~~~Identification and immersion & 0.53 \\
~~~~Reading Context & 0.56 \\
~~~~Reception & 0.66 \\
~~~~Reflection & 0.42 \\
Recommendations & 0.73 \\
Style & 0.59 \\
~~~~Context & 0.08 \\
~~~~Structure & 0.33 \\
~~~~Stylistic features & 0.58 \\
\bottomrule
\end{tabular}

In [106]:
table = temp_df[['Category', 'kappa']].to_latex(index=False,
                  #formatters={"name": str.upper},
                  float_format="{:.2f}".format,
)
print(table)

\begin{tabular}{lr}
\toprule
Category & kappa \\
\midrule
Author & 0.76 \\
Classification & 0.61 \\
Content & 0.70 \\
~~~~Narrative & 0.69 \\
~~~~Other & 0.55 \\
~~~~Quote & 0.88 \\
~~~~Theme & 0.39 \\
None & -0.00 \\
Other works & 0.61 \\
Reader response & 0.73 \\
~~~~Evaluation of quality & 0.64 \\
~~~~Feelings & 0.27 \\
~~~~Identification and immersion & 0.53 \\
~~~~Reading Context & 0.56 \\
~~~~Reception & 0.66 \\
~~~~Reflection & 0.42 \\
Recommendations & 0.73 \\
Style & 0.59 \\
~~~~Context & 0.08 \\
~~~~Structure & 0.33 \\
~~~~Stylistic features & 0.58 \\
\bottomrule
\end{tabular}

## Agreement between pair of reviewers

In [107]:
from itertools import combinations

import numpy as np


cat_cols = [col for col in annos.columns if col.startswith('CAT__')]

cat = 'CAT__Author--None'


rows = []
for cat in cat_cols:
    cat_annotator = annos.pivot(index=('review_id', 'sent_num'), columns='annotator', values=cat)
    for anno1, anno2 in combinations(annotators, 2):
        cross = pd.crosstab(index=cat_annotator[anno1], columns=cat_annotator[anno2])
        if 1 not in cross.columns:
            cross[1] = 0
            #cross.loc[1] = [0, 0]
        if 1 not in cross.index:
            cross.loc[1] = [0, 0]

        a = cross.loc[0][0]
        b = cross.loc[0][1]
        c = cross.loc[1][0]
        d = cross.loc[1][1]
        p_o = (a + d) / (a + b + c + d)
        p_Y = ((a + b) / (a + b + c + d)) * ((a + c) / (a + b + c + d))
        p_N = ((c + d) / (a + b + c + d)) * ((b + d) / (a + b + c + d))
        p_e = p_Y + p_N
        if p_e == 1.0:
            kappa = np.nan
        else:
            kappa = (p_o - p_e) / (1 - p_e)
        rows.append([cat, anno1, anno2, a, b, c, d, kappa, p_o, p_e, p_Y, p_N])

agreement = pd.DataFrame(rows, columns=['cat', 'anno1', 'anno2', 'a', 'b', 'c', 'd', 'kappa', 'p_o', 'p_e', 'p_Y', 'p_N'])
agreement

,cat,anno1,anno2,a,b,c,d,kappa,p_o,p_e,p_Y,p_N
0,CAT__Author,anno1,anno2,10204,131,466,833,0.708457,0.948685,0.823988,0.814736,9.251839e-03
1,CAT__Author,anno1,anno3,10064,271,108,1191,0.844322,0.967423,0.790741,0.776710,1.403132e-02
2,CAT__Author,anno2,anno3,10096,574,76,888,0.702342,0.944129,0.812299,0.801886,1.041277e-02
3,CAT__Content,anno1,anno2,4825,742,1016,5051,0.697836,0.848891,0.499911,0.240243,2.596686e-01
4,CAT__Content,anno1,anno3,4470,1097,450,5617,0.732281,0.867028,0.503314,0.202362,3.009520e-01
...,...,...,...,...,...,...,...,...,...,...,...,...
58,CAT__Style--Stylistic_features,anno1,anno3,9973,668,133,860,0.645600,0.931150,0.805728,0.794518,1.121023e-02
59,CAT__Style--Stylistic_features,anno2,anno3,10030,973,76,555,0.473724,0.909833,0.828670,0.821547,7.123519e-03
60,CAT__None,anno1,anno2,11607,0,27,0,0.000000,0.997679,0.997679,0.997679,0.000000e+00
61,CAT__None,anno1,anno3,11605,2,27,0,-0.000320,0.997507,0.997508,0.997508,3.989658e-07
62,CAT__None,anno2,anno3,11632,2,0,0,0.000000,0.999828,0.999828,0.999828,0.000000e+00

In [108]:
agreement.kappa

0     0.708457
1     0.844322
2     0.702342
3     0.697836
4     0.732281
        ...
58    0.645600
59    0.473724
60    0.000000
61   -0.000320
62    0.000000
Name: kappa, Length: 63, dtype: float64

In [109]:
# separate main category and sub-category
agreement['main_cat'], agreement['sub_cat'] = zip(*agreement.cat.apply(map_cat_string))

# remove invalid main and sub category combinations
agreement = agreement[agreement.apply(lambda row: (row['main_cat'], row['sub_cat']) in cat_tuples, axis=1)]

In [110]:
agreement

,cat,anno1,anno2,a,b,c,d,kappa,p_o,p_e,p_Y,p_N,main_cat,sub_cat
0,CAT__Author,anno1,anno2,10204,131,466,833,0.708457,0.948685,0.823988,0.814736,0.009252,Author,None
1,CAT__Author,anno1,anno3,10064,271,108,1191,0.844322,0.967423,0.790741,0.776710,0.014031,Author,None
2,CAT__Author,anno2,anno3,10096,574,76,888,0.702342,0.944129,0.812299,0.801886,0.010413,Author,None
3,CAT__Content,anno1,anno2,4825,742,1016,5051,0.697836,0.848891,0.499911,0.240243,0.259669,Content,None
4,CAT__Content,anno1,anno3,4470,1097,450,5617,0.732281,0.867028,0.503314,0.202362,0.300952,Content,None
5,CAT__Content,anno2,anno3,4442,1399,478,5315,0.677530,0.838663,0.499682,0.212322,0.287360,Content,None
6,CAT__Recommendations,anno1,anno2,11291,45,69,229,0.795685,0.990201,0.952040,0.951437,0.000603,Recommendations,None
7,CAT__Recommendations,anno1,anno3,11332,4,138,160,0.686948,0.987794,0.961011,0.960650,0.000361,Recommendations,None
8,CAT__Recommendations,anno2,anno3,11350,10,120,154,0.697868,0.988826,0.963016,0.962684,0.000332,Recommendations,None
9,CAT__Other_works,anno1,anno2,10781,156,289,408,0.627122,0.961750,0.897420,0.894515,0.002904,Other_works,None
10,CAT__Other_works,anno1,anno3,10814,123,282,415,0.654005,0.965188,0.899387,0.896616,0.002770,Other_works,None
11,CAT__Other_works,anno2,anno3,10835,235,261,303,0.527546,0.957366,0.909761,0.907519,0.002242,Other_works,None
12,CAT__Classification,anno1,anno2,11122,72,188,252,0.648408,0.977652,0.936437,0.935384,0.001053,Classification,None
13,CAT__Classification,anno1,anno3,11014,180,176,264,0.581381,0.969400,0.926903,0.925459,0.001443,Classification,None
14,CAT__Classification,anno2,anno3,11103,207,87,237,0.604450,0.974729,0.936112,0.935049,0.001063,Classification,None
15,CAT__Reader_response,anno1,anno2,5125,752,836,4921,0.726937,0.863504,0.500128,0.258831,0.241296,Reader_response,None
16,CAT__Reader_response,anno1,anno3,5206,671,883,4874,0.732723,0.866426,0.500241,0.264389,0.235852,Reader_response,None
17,CAT__Reader_response,anno2,anno3,5199,762,890,4783,0.715676,0.858002,0.500579,0.268168,0.232411,Reader_response,None
18,CAT__Style,anno1,anno2,10247,132,641,614,0.579903,0.933557,0.841838,0.834921,0.006917,Style,None
19,CAT__Style,anno1,anno3,9773,606,242,1013,0.664119,0.927110,0.782989,0.767977,0.015012,Style,None
20,CAT__Style,anno2,anno3,9914,974,101,645,0.501708,0.907598,0.814563,0.805640,0.008923,Style,None
21,CAT__Content--Narrative,anno1,anno2,5776,603,1151,4104,0.692807,0.849235,0.509218,0.326467,0.182751,Content,Narrative
22,CAT__Content--Narrative,anno1,anno3,5146,1233,446,4809,0.712438,0.855682,0.498132,0.263549,0.234582,Content,Narrative
23,CAT__Content--Narrative,anno2,anno3,5249,1678,343,4364,0.655116,0.826285,0.496310,0.286190,0.210120,Content,Narrative
24,CAT__Content--Other,anno1,anno2,11121,228,86,199,0.545638,0.973010,0.940598,0.939699,0.000899,Content,Other
25,CAT__Content--Other,anno1,anno3,11298,51,113,172,0.670069,0.985903,0.957274,0.956804,0.000470,Content,Other
26,CAT__Content--Other,anno2,anno3,11138,69,273,154,0.460253,0.970603,0.945536,0.944833,0.000704,Content,Other
27,CAT__Content--Quote,anno1,anno2,11254,52,46,282,0.847629,0.991576,0.944717,0.943907,0.000809,Content,Quote
28,CAT__Content--Quote,anno1,anno3,11250,56,33,295,0.864990,0.992350,0.943338,0.942487,0.000851,Content,Quote
29,CAT__Content--Quote,anno2,anno3,11266,34,17,317,0.923291,0.995616,0.942853,0.941987,0.000866,Content,Quote
30,CAT__Content--Theme,anno1,anno2,11150,250,103,131,0.411346,0.969658,0.948455,0.947796,0.000659,Content,Theme
31,CAT__Content--Theme,anno1,anno3,11356,44,147,87,0.469047,0.983583,0.969079,0.968853,0.000226,Content,Theme
32,CAT__Content--Theme,anno2,anno3,11206,47,297,84,0.316674,0.970431,0.956729,0.956360,0.000369,Content,Theme
33,CAT__Reader_response--Evaluation_of_quality,anno1,anno2,7969,689,846,2130,0.647353,0.868059,0.625856,0.563874,0.061983,Reader_response,Evaluation_of_quality
34,CAT__Reader_response--Evaluation_of_quality,anno1,anno3,7354,1304,430,2546,0.642940,0.850954,0.582575,0.497923,0.084652,Reader_response,Evaluation_of_quality
35,CAT__Reader_response--Evaluation_of_quality,anno2,anno3,7435,1380,349,2470,0.640034,0.851384,0.587138,0.506952,0.080186,Reader_response,Evaluation_of_quality
36,CAT__Reader_response--Feelings,anno1,anno2,9692,780,568,594,0.403944,0.884133,0.805610,0.793814,0.011796,Reader_response,Feelings
37,CAT__Reader_response--Feelings,anno1,anno3,10167,305,1004,158,0.145847,0.887485,0.868273,0.864298,0.003975,Reader_response,Feelings
38,CAT__Reader_response--Feelings,anno2,anno3,10029,231,1142,232,0.205273,0.881984,0.851501,0.846801,0.004700,Reader_response,Feelings
39,CAT__Reader_response--Identification_and_immer...,anno1,anno2,11032,223,175,204,0.488550,0.965790,0.933112,0.931916,0.001196,Reader_response,Identification_and_immersion
40,CAT__Reader_response--Identification_and_immer...,anno1,anno3,11158,97,173,206,0.592304,0.976792,0.943076,0.942227,0.000848,Reader_response,Identification_and_immersion
41,CAT__Reader_response--Identification_and_immer...,anno2,anno3,11094,113,237,190,0.505481,0.969916,0.939165,0.938209,0.000956,Reader_response,Identification_and_immersion
42,CAT__Reader_response--Reading_Context,anno1,anno2,10583,154,433,464,0.586533,0.949544,0.877970,0.873874,0.004096,Reader_response,Reading_Context
43,CAT__Reader_response--Reading_Context,anno1,anno3,10611,126,481,416,0.552169,0.947825,0.883495,0.879903,0.003592,Reader_response,Reading_Context
44,CAT__Reader_response--Reading_Context,anno2,anno3,10801,215,291,327,0.541009,0.956507,0.905242,0.902767,0.002475,Reader_response,Reading_Context
45,CAT__Reader_response--Reception,anno1,anno2,11515,24,39,56,0.637292,0.994585,0.985070,0.985014,0.000056,Reader_response,Reception
46,CAT__Reader_response--Reception,anno1,anno3,11510,29,34,61,0.656732,0.994585,0.984225,0.984162,0.000063,Reader_response,Reception
47,CAT__Reader_response--Reception,anno2,anno3,11522,32,22,58,0.680023,0.995358,0.985494,0.985441,0.000053,Reader_response,Reception
48,CAT__Reader_response--Reflection,anno1,anno2,9788,661,632,553,0.399078,0.888860,0.815051,0.804423,0.010629,Reader_response,Reflection
49,CAT__Reader_response--Reflection,anno1,anno3,9740,709,629,556,0.389683,0.884992,0.811561,0.800486,0.011075,Reader_response,Reflection
50,CAT__Reader_response--Reflection,anno2,anno3,9807,613,562,652,0.469525,0.899003,0.809610,0.798264,0.011346,Reader_response,Reflection
51,CAT__Style--Context,anno1,anno2,11487,62,79,6,0.072407,0.987880,0.986934,0.986892,0.000043,Style,Context
52,CAT__Style--Context,anno1,anno3,11502,47,77,8,0.109172,0.989342,0.988035,0.988001,0.000035,Style,Context
53,CAT__Style--Context,anno2,anno3,11514,52,65,3,0.043782,0.989943,0.989483,0.989455,0.000028,Style,Context
54,CAT__Style--Structure,anno1,anno2,11409,10,165,50,0.358463,0.984958,0.976553,0.976458,0.000095,Style,Structure
55,CAT__Style--Structure,anno1,anno3,11407,12,183,32,0.242347,0.983239,0.977877,0.977808,0.000070,Style,Structure
56,CAT__Style--Structure,anno2,anno3,11554,20,36,24,0.459178,0.995187,0.991100,0.991080,0.000020,Style,Structure
57,CAT__Style--Stylistic_features,anno1,anno2,10545,96,458,535,0.634633,0.952381,0.869668,0.865039,0.004629,Style,Stylistic_features
58,CAT__Style--Stylistic_features,anno1,anno3,9973,668,133,860,0.645600,0.931150,0.805728,0.794518,0.011210,Style,Stylistic_features
59,CAT__Style--Stylistic_features,anno2,anno3,10030,973,76,555,0.473724,0.909833,0.828670,0.821547,0.007124,Style,Stylistic_features

In [111]:
agreement[agreement.sub_cat.isna()].groupby('main_cat').kappa.describe(percentiles=[0.5])

                 count      mean       std       min       50%       max
main_cat
Author             3.0  0.751707  0.080265  0.702342  0.708457  0.844322
Classification     3.0  0.611413  0.034051  0.581381  0.604450  0.648408
Content            3.0  0.702549  0.027678  0.677530  0.697836  0.732281
Other_works        3.0  0.602891  0.066621  0.527546  0.627122  0.654005
Reader_response    3.0  0.725112  0.008669  0.715676  0.726937  0.732723
Recommendations    3.0  0.726834  0.059877  0.686948  0.697868  0.795685
Style              3.0  0.581910  0.081224  0.501708  0.579903  0.664119

In [112]:
agreement[agreement.sub_cat.isna()].groupby('main_cat').kappa.describe(percentiles=[0.5])

                 count      mean       std       min       50%       max
main_cat
Author             3.0  0.751707  0.080265  0.702342  0.708457  0.844322
Classification     3.0  0.611413  0.034051  0.581381  0.604450  0.648408
Content            3.0  0.702549  0.027678  0.677530  0.697836  0.732281
Other_works        3.0  0.602891  0.066621  0.527546  0.627122  0.654005
Reader_response    3.0  0.725112  0.008669  0.715676  0.726937  0.732723
Recommendations    3.0  0.726834  0.059877  0.686948  0.697868  0.795685
Style              3.0  0.581910  0.081224  0.501708  0.579903  0.664119

In [113]:
temp_df = agreement[agreement.sub_cat.isna()].groupby('main_cat').kappa.describe(percentiles=[0.5])['mean'].reset_index().rename(columns={'main_cat': 'Category', 'mean': 'Kappa'})

table = temp_df[['Category', 'Kappa']].to_latex(index=False,
                  #formatters={"name": str.upper},
                  float_format="{:.2f}".format,
)
print(table)

\begin{tabular}{lr}
\toprule
Category & Kappa \\
\midrule
Author & 0.75 \\
Classification & 0.61 \\
Content & 0.70 \\
Other_works & 0.60 \\
Reader_response & 0.73 \\
Recommendations & 0.73 \\
Style & 0.58 \\
\bottomrule
\end{tabular}

In [114]:
agreement['Sub-category'] = agreement.sub_cat.apply(lambda x: '~' if x is None else x)#.groupby(['main_cat', 'sub_cat']).kappa.describe(percentiles=[0.5])['mean']

/var/folders/xk/pp9n20396sqccydf42gn2rmr0000gn/T/ipykernel_14169/1160093751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agreement['Sub-category'] = agreement.sub_cat.apply(lambda x: '~' if x is None else x)#.groupby(['main_cat', 'sub_cat']).kappa.describe(percentiles=[0.5])['mean']

In [115]:
temp_df = agreement.groupby(['main_cat', 'Sub-category']).kappa.describe(percentiles=[0.5])['mean'].reset_index().rename(columns={'main_cat': 'Category', 'mean': 'Kappa'})

table = temp_df[['Category', 'Sub-category', 'Kappa']].to_latex(index=False,
                  #formatters={"name": str.upper},
                  float_format="{:.2f}".format,
)
print(table)

\begin{tabular}{llr}
\toprule
Category & Sub-category & Kappa \\
\midrule
Author & ~ & 0.75 \\
Classification & ~ & 0.61 \\
Content & Narrative & 0.69 \\
Content & Other & 0.56 \\
Content & Quote & 0.88 \\
Content & Theme & 0.40 \\
Content & ~ & 0.70 \\
Other_works & ~ & 0.60 \\
Reader_response & Evaluation_of_quality & 0.64 \\
Reader_response & Feelings & 0.25 \\
Reader_response & Identification_and_immersion & 0.53 \\
Reader_response & Reading_Context & 0.56 \\
Reader_response & Reception & 0.66 \\
Reader_response & Reflection & 0.42 \\
Reader_response & ~ & 0.73 \\
Recommendations & ~ & 0.73 \\
Style & Context & 0.08 \\
Style & Structure & 0.35 \\
Style & Stylistic_features & 0.58 \\
Style & ~ & 0.58 \\
\bottomrule
\end{tabular}

In [116]:
agreement[agreement.sub_cat.isna()].groupby('main_cat').p_e.describe(percentiles=[0.5])

                 count      mean       std       min       50%       max
main_cat
Author             3.0  0.809009  0.016866  0.790741  0.812299  0.823988
Classification     3.0  0.933151  0.005413  0.926903  0.936112  0.936437
Content            3.0  0.500969  0.002034  0.499682  0.499911  0.503314
Other_works        3.0  0.902189  0.006631  0.897420  0.899387  0.909761
Reader_response    3.0  0.500316  0.000235  0.500128  0.500241  0.500579
Recommendations    3.0  0.958689  0.005845  0.952040  0.961011  0.963016
Style              3.0  0.813130  0.029451  0.782989  0.814563  0.841838

In [26]:
agreement[agreement.sub_cat.notna()].groupby(['main_cat', 'sub_cat']).kappa.describe(percentiles=[0.5])

                                              count      mean       std  \
main_cat        sub_cat
Content         Narrative                       3.0  0.667113  0.025890
                Other                           3.0  0.554215  0.102233
                Quote                           3.0  0.861204  0.054250
                Theme                           3.0  0.394403  0.071080
Reader_response Evaluation_of_quality           3.0  0.632382  0.009416
                Feelings                        3.0  0.253741  0.133732
                Identification_and_immersion    3.0  0.524273  0.052122
                Reading_Context                 3.0  0.557816  0.024573
                Reception                       3.0  0.653089  0.017593
                Reflection                      3.0  0.408849  0.041183
Style           Context                         3.0  0.073253  0.031662
                Structure                       3.0  0.347145  0.103031
                Stylistic_features              3.0  0.577869  0.095684

                                                   min       50%       max
main_cat        sub_cat
Content         Narrative                     0.637246  0.680910  0.683182
                Other                         0.457098  0.544654  0.660893
                Quote                         0.823273  0.836996  0.923343
                Theme                         0.318110  0.406341  0.458759
Reader_response Evaluation_of_quality         0.624580  0.629724  0.642840
                Feelings                      0.145539  0.212429  0.403254
                Identification_and_immersion  0.482809  0.507226  0.582784
                Reading_Context               0.538892  0.548967  0.585588
                Reception                     0.637421  0.649725  0.672121
                Reflection                    0.374150  0.398038  0.454359
Style           Context                       0.041874  0.072695  0.105191
                Structure                     0.240579  0.354621  0.446234
                Stylistic_features            0.467401  0.631358  0.634849

In [27]:
agreement[agreement.main_cat == 'Author']

,cat,anno1,anno2,a,b,c,d,kappa,p_o,p_e,p_Y,p_N,main_cat,sub_cat
0,CAT__Author,anno1,anno2,10767,140,472,834,0.704589,0.949889,0.830370,0.821842,0.008528,Author,None
1,CAT__Author,anno1,anno3,10596,311,108,1198,0.831880,0.965692,0.795933,0.782720,0.013213,Author,None
2,CAT__Author,anno2,anno3,10628,611,76,898,0.693620,0.943748,0.816400,0.806546,0.009854,Author,None

In [28]:
agreement[agreement.main_cat == 'Classification']

,cat,anno1,anno2,a,b,c,d,kappa,p_o,p_e,p_Y,p_N,main_cat,sub_cat
12,CAT__Classification,anno1,anno2,11690,82,189,252,0.639090,0.977811,0.938518,0.937531,0.000988,Classification,None
13,CAT__Classification,anno1,anno3,11568,204,177,264,0.564672,0.968804,0.928338,0.926955,0.001384,Classification,None
14,CAT__Classification,anno2,anno3,11655,224,90,244,0.595571,0.974290,0.936428,0.935380,0.001048,Classification,None

In [29]:
agreement[agreement.main_cat == 'Content']

,cat,anno1,anno2,a,b,c,d,kappa,p_o,p_e,p_Y,p_N,main_cat,sub_cat
3,CAT__Content,anno1,anno2,5248,861,1046,5058,0.687706,0.843855,0.500006,0.257782,0.242225,Content,None
4,CAT__Content,anno1,anno3,4704,1405,451,5653,0.696081,0.848031,0.499968,0.211132,0.288836,Content,None
5,CAT__Content,anno2,anno3,4676,1618,479,5440,0.658231,0.828298,0.497608,0.217526,0.280082,Content,None
30,CAT__Content--Narrative,anno1,anno2,6230,700,1179,4104,0.683182,0.846148,0.514382,0.344230,0.170153,Content,Narrative
31,CAT__Content--Narrative,anno1,anno3,5417,1513,446,4837,0.680910,0.839597,0.497311,0.272401,0.224910,Content,Narrative
32,CAT__Content--Narrative,anno2,anno3,5519,1890,344,4460,0.637246,0.817080,0.495747,0.291229,0.204518,Content,Narrative
33,CAT__Content--Other,anno1,anno2,11698,230,86,199,0.544654,0.974126,0.943177,0.942357,0.000820,Content,Other
34,CAT__Content--Other,anno1,anno3,11870,58,113,172,0.660893,0.985999,0.958711,0.958271,0.000439,Content,Other
35,CAT__Content--Other,anno2,anno3,11709,75,274,155,0.457098,0.971424,0.947364,0.946703,0.000662,Content,Other
36,CAT__Content--Quote,anno1,anno2,11814,71,46,282,0.823273,0.990420,0.945792,0.945016,0.000776,Content,Quote
37,CAT__Content--Quote,anno1,anno3,11807,78,33,295,0.836996,0.990911,0.944243,0.943422,0.000820,Content,Quote
38,CAT__Content--Quote,anno2,anno3,11823,37,17,336,0.923343,0.995578,0.942321,0.941438,0.000883,Content,Quote
42,CAT__Content--Theme,anno1,anno2,11721,258,103,131,0.406341,0.970441,0.950209,0.949599,0.000610,Content,Theme
43,CAT__Content--Theme,anno1,anno3,11927,52,147,87,0.458759,0.983706,0.969895,0.969677,0.000218,Content,Theme
44,CAT__Content--Theme,anno2,anno3,11772,52,302,87,0.318110,0.971014,0.957492,0.957130,0.000363,Content,Theme

## Confusion Matrix

There may be an inverse relationship between `Evaluation of quality` and `feelings`. One annotator is much more likely than the other two to use `Evaluation of Quality`, whereas the other two are much more likely to use `feelings`. But it's not clear that this happens for the same sentences, i.e. whether there are many cases where one annotator selects `Evaluation of Quality` for sentences where the other two select `feelings`.

In [30]:
annos.sent_id

0        impfic-review-10274-sent-001
1        impfic-review-10274-sent-001
2        impfic-review-10274-sent-001
3        impfic-review-10274-sent-002
4        impfic-review-10274-sent-002
                     ...
36634    impfic-review-85460-sent-023
36635    impfic-review-85460-sent-023
36636    impfic-review-85460-sent-024
36637    impfic-review-85460-sent-024
36638    impfic-review-85460-sent-024
Name: sent_id, Length: 36639, dtype: object

In [31]:
cat1 = 'CAT__Reader_response--Evaluation_of_quality'
cat2 = 'CAT__Reader_response--Feelings'
selected_sents = annos[(annos.annotator == 'anno3') & (annos[cat1] > 0)].sent_id
annos[(annos.annotator != 'anno3') & (annos.sent_id.isin(selected_sents))][cat_cols].sum()
#anno_df.columns

annos[['sent_id', 'annotator', cat1, cat2]].set_index(['sent_id', 'annotator'])#.unstack()
annos.pivot(index='sent_id', columns='annotator', values=[cat1, cat2])

part1 = annos[['sent_id', 'annotator', cat1]].rename(columns={cat1: 'eval'})
part1['annotator'] = part1.annotator.apply(lambda x: f"eval_{x.split('-')[0]}")

part2 = annos[['sent_id', 'annotator', cat2]].rename(columns={cat2: 'feel'})
part2['annotator'] = part2.annotator.apply(lambda x: f"feel_{x.split('-')[0]}")

temp = pd.concat([
part1.set_index(['sent_id', 'annotator']).unstack(),
part2.set_index(['sent_id', 'annotator']).unstack()
], axis=1)

temp = temp.droplevel(0, axis=1)

col_order = [
    'eval_anno1', 'eval_anno2', 
    'feel_anno1', 'feel_anno2',
    'eval_anno3', 
    'feel_anno3'
]
temp[col_order].value_counts().sort_index()

eval_anno1  eval_anno2  feel_anno1  feel_anno2  eval_anno3  feel_anno3
0           0           0           0           0           0             6940
                                                            1               13
                                                1           0              496
                                                            1               18
                                    1           0           0              248
                                                            1               10
                                                1           0              110
                                                            1                7
                        1           0           0           0              174
                                                            1               18
                                                1           0               79
                                                            1                8
                                    1           0           0              132
                                                            1               31
                                                1           0              197
                                                            1               13
            1           0           0           0           0              163
                                                            1                2
                                                1           0              334
                                                            1                8
                                    1           0           0                8
                                                1           0               21
                                                            1                7
                        1           0           0           0               17
                                                            1                2
                                                1           0               98
                                                            1                3
                                    1           0           0                6
                                                            1                4
                                                1           0               54
                                                            1                8
1           0           0           0           0           0              207
                                                            1                3
                                                1           0              345
                                                            1               27
                                    1           0           0               44
                                                            1                7
                                                1           0              124
                                                            1               10
                        1           0           0           0               12
                                                            1                1
                                                1           0               28
                                                            1                4
                                    1           0           0                7
                                                            1                1
                                                1           0               30
                                                            1                4
            1           0           0           0           0              136
                                                            1                4
                                                1           0             1452
                                                            1              105
                                    1           0           0                6
                                                1           0               98
                                                            1               97
                        1           0           0           0                2
                                                1           0              104
                                                            1               19
                                    1           1           0               65
                                                            1               42
Name: count, dtype: int64